/node_modules
/storage/*
/storage/logs/laravel.log
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.env
testing
secretalign
p7zip-src
